
{{#each blogs as |blog| }}
<section id="techBlogMainContainer">
    <div class="blog-header-row">
        <h2 class="blog-title">A Blog Shall Go Here{{blog.title}}</h2>
        <div class="blog-button-row">
            <button class="post-blog-button">Post Blog</button>
            <button class="edit-blog-button">Edit</button>
            <button class="delete-blog-button">Delete</button>
        </div>
    </div>
    <div class="blog-content">
        <div class="blog-post-text">
            <p>test{{blog.blog_text}}</p>
            <div class="blog-post-header">
                <h3 class="blog-user">{{username}}</h3>
                <h4>
                    date created
                </h4>
            </div>
        </div>
    </div>
    <div class="blog-comments">
        commenting code goes here
    </div>
    {{/each}}
</section>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>