

<section id="enterTechBlog">
 <h1 class="tech-blog-entrance-title">Dan's Random<br>Tech Blog</h1>
  {{#if logged_in}}
 <p class="enter-note">Click Below To Enter</p>
 <button class="blog-enter-button"><a href="/blog">Enter Blog</a></button>
    {{else}}
     <p class="enter-note">Please Login to Enter and View Blog</p>
 <button class="blog-enter-button none"><a href="/blog">Enter Blogs</a></button>
    {{/if}}
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>