{{!-- placeholder --}}

<label class="new-blog-page-header">Create Your New Blog Post</label>
<div id="newBlogContainer">
        <button class="post-blog-button">Post Blog</button>
    <div class="blog-input-stack">
    <input type="text" class="blog-title" placeholder="Enter your post title here"><br>
    <textarea class="blog-text" placeholder="Enter your post text here"></textarea>
    </div>
</div>

<button class="blog-page-redirect"><a href="/blog">◄ Public Blogs</a></button>

<script src="./js/blog.js"></script>