/* CSS goes here */

html {
    background: transparent;
    height: 100%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(0.39turn,#65daad,#b5f6dd 80%,#ecfff8 92%, #078a88);
    background-size: cover;

    border-top: 2px solid #3a4558;
}

.navbar {
    position: relative;
    background: linear-gradient(0.49turn, #ecdda7 25%, #c6dfe8 75%, #fff9e4);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 1px transparent;
    border-bottom: 2px solid #3a4558;
}

.tech-blog-title {
    color: #424140;
    position: fixed;
    left: 16%;
    font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #5f676d;
}

.tech-blog-title a {
    text-decoration: none;
    color: #424140;
}



.tech-blog-title:hover {
    color: #323a35;
    text-shadow: 1px 1px 1px #63786e, 2px 2px 2px #63786e, 3px 3px 4px #7e9087;
    cursor: pointer;
}

.loggedInStatus {
    position: fixed;
    right: 14%;
    font-size: 1rem;
    color: #353160;
    font-weight: 600;
    text-shadow: 1px 1px 1px #b0b0b0;
    margin-bottom: 0.5rem;
    margin-top: 1.75rem;
    text-align: center;
}

.logoutBtn {
    font-size: 1.2rem;
    font-weight: 600;
    float: right;
    color: #2e2e2e;
    background: linear-gradient(0.9turn, #4e4e4e 20%, #d4d4d4 70%, #808080 98%);
    border-radius: 0.45rem 0.5rem;
    border: 3px solid #2e2e2e;
    text-align: center;
    padding: 0.2rem 0.5rem 0.4rem 0.5rem;
    box-shadow: 0 0 1px transparent;
    margin-top: 0rem;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.logoutBtn:hover {
    color: #ffffff;
    background: linear-gradient(0.35turn, #ff1f1f, #ffb7b7);
    text-shadow: 0 0 1px #ececec, 0 0 2px #ececec, 0 0 3px #ffe1e1;
    border: 2px solid #4b4747;
    box-shadow: 2px 2px 2px #4b4747;
}


.login-email-field,
.login-password-field,
.sign-up-username-field,
.sign-up-email-field,
.sign-up-password-field {
    background: #f6fafb;
    font-size: 1rem;
    line-height: 1.35rem;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.login-email-field:hover,
.login-password-field:hover,
.sign-up-username-field:hover,
.sign-up-email-field:hover,
.sign-up-password-field:hover {
    background: #ffffff;
}

.signup-popup {
    display: hidden;
    position: fixed;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #06244459;
}


.sign-up-container {
    line-height: 1.5rem;
    background: linear-gradient(0.48turn, #cbcb78, #fdfcf4);
    border-radius: 15px;
    margin: auto;
    padding: 1.75rem 1.75rem 1rem 2rem;
    border: 4px solid #5a6164;
    width: 30rem;
    height: 17.75rem;
    justify-content: space-around;
}

.sign-up-container p {
    text-align: center;
    color: #2a2a2e;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #b9cde6;
    margin-bottom: 0.75rem;
}

.signup-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-fields-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.close-sign-up-popup {
    color: #828c9c;
    float: right;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -1.15rem;
    margin-right: -1.15rem;
}

.close-sign-up-popup:hover,
.close-sign-up-popup:focus {
    color: #42464b;
    text-shadow: 0 0 1px #708090, 1px 1px 1px #708090;
    text-decoration: none;
    cursor: pointer;
}

.sign-up-submit-button {
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(#66b7d2, lightblue);
    border: 2px solid #4f729b;
    border-radius: 0.9rem;
    padding: 0.2rem 0.2rem 0.4rem 0.2rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
}

.sign-up-submit-button:hover {
    color: #e9f6fa;
    background: linear-gradient(#66b7d2, #5c85b3);
    border: 3px solid #414b57;
    text-shadow: 0 0 2px #5c85b3;
    padding: 0.2rem 0.25rem 0.4rem 0.25rem;
    box-shadow: 2px 2px 2px #6d8db1;
}

.login-button {
    color: #ececec;
    font-weight: 600;
    background: linear-gradient(#0752f5, #7d9ee7);
    font-size: 1.2rem;
    width: fit-content;
    min-width: 5rem;
    border: 2px solid #343435;
    border-radius: 0.35rem;
    padding-bottom: 0.25rem;
    margin-left: 0.35rem;
}

.login-button:hover {
    color: #292929;
    background: linear-gradient(#6495ff, #c8daff);
    box-shadow: 0 0 1px #4d6b75, 0 0 2px #4d6b75, 0 0 4px #4d6b75, 0 0 6px #4d6b75;
    text-shadow: 0 0 1px #354950, 0 0 2px #4d6b75;
    text-decoration: none;
}

.login-input-tile {
    display: hidden;
    position: fixed;
    padding-top: 15rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #12513360; 
}

.sign-up-button {
    color: #1d1d1d;
    font-weight: 600;
    font-size: 1.2rem;
    background: linear-gradient(#e4ad16, #f7e867);
    width: fit-content;
    min-width: 5rem;
    align-self: center;
    margin-left: 0.2rem;
    border-radius: 0.35rem;
    padding-bottom: 0.25rem;
}

.sign-up-button:hover {
    color: #292929;
    background: linear-gradient(#fff453, #fff7d3);
    box-shadow: 0 0 1px #4d6b75, 0 0 2px #4d6b75, 0 0 4px #4d6b75, 0 0 6px #4d6b75;
    text-shadow: 0 0 1px #6b6d4d, 0 0 2px #95977a;
    text-decoration: none;
}

.login-container {
    line-height: 1.5rem;
    background: linear-gradient(0.48turn, #87b1e9, #f4f9fd);
    border-radius: 15px;
    margin: auto;
    padding: 1.75rem 1.75rem 1rem 2rem;
    border: 4px solid #5a6164;
    width: 30rem;
    height: 14.5rem;
    justify-content: space-around;
}

.login-container p {
    text-align:center;
    font-size: 1.25rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #b9cde6;
    margin-bottom: 0.75rem;
}

.close-login-popup {
    color: #828c9c;
    float: right;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -1.15rem;
    margin-right: -1.15rem;
}

.close-login-popup:hover {
    color: #42464b;
    text-shadow: 0 0 1px #708090, 1px 1px 1px #708090;
    text-decoration: none;
    cursor: pointer;
}



.login-submit-button {
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(#66b7d2, lightblue);
    border: 2px solid #4f729b;
    border-radius: 0.9rem;
    padding: 0.1rem 0.2rem 0.5rem 0.2rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
}

.login-submit-button:hover {
    color: #e9f6fa;
    background: linear-gradient(#66b7d2, #5c85b3);
    border: 3px solid #414b57;
    text-shadow: 0 0 2px #5c85b3;
    padding: 0.2rem 0.25rem 0.4rem 0.25rem;
}

#enterTechBlog {
    background: linear-gradient(0.4turn, #a1a0a0 20%, #fbfbfb 70%, #b0b0b0 98%);
    width: 40rem;
    min-height: 12rem;
    align-self: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12rem;
    border-radius: 3rem;
    border: 0.25rem solid #363636;
}

#enterTechBlog:hover {
    background: linear-gradient(0.4turn, #acacac 20%, #fdfdfd 70%, #bdbdbd 98%);
    box-shadow: 3px 3px 3px #4f635a;
}

.enter-note {
    text-align: center;
    font-size: 1.1rem;
    color: #353160;
    text-shadow: 1px 1px 1px #5d5d5d;
    font-weight: 400;
}

.tech-blog-entrance-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
    color: #1d1e1e;
    text-shadow: 2px 2px 2px #4b4d4d;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
 }

 .blog-enter-button {
    justify-self: center;
    font-size: 1.4rem;
    margin-left: 38%;
    margin-right: 38%;
    margin-bottom: 0.75rem;
    min-width: 10rem;
    color: #f8f8f8;
    text-shadow: 0 0 1px #add8e6, 0 0 2px #add8e6;
    background: linear-gradient(#4646ff, #9091ce);
    border: 2px solid #676767;
    border-radius: 0.8rem;
    padding: 0.45rem 0.9rem;
  }

  .blog-enter-button a {
    color: #f8f8f8;
    text-decoration: none;
  }

  .blog-enter-button:hover {
    color: white;
    background: linear-gradient(rgb(13, 13, 255), #7a7cd4);
    text-shadow: 0 0 1px #add8e6, 0 0 2px #add8e6, 0 0 4px #add8e6, 0 0 6px #add8e6;
    border: 2px solid #0c0c0c;
    box-shadow: 2px 2px 2px #5f5aa3;
}


/* Utility Classes */

.hidden {
    display: hidden;
}   

.none {
    display: none;
}   

.aligner-left {
    visibility: hidden;
    float: left;
    display: flex;
    flex: wrap;
    margin-left: 1rem;
    width: 8rem;
}

.aligner-right {
    visibility: hidden;
    float: right;
    display: flex;
    flex: wrap;
    margin-right: 1rem;
    width: 8rem;
}